@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
	--primary-bg-color: #f40612;
	--secondary-bg-color: #303030;
	--primary-text-color: #fff;
	--secondary-text-color: #757575;
	--border-color: #222;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #000;
	color: var(--primary-text-color);
	-webkit-font-smoothing: antialiased;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--primary-text-color);
}

.showcase {
	background: url('../images/banner.jpg') no-repeat center/cover;
	width: 100%;
	height: 105vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 10px solid var(--border-color);
	margin-bottom: 30px;
}

.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.6);
}
.showcase-top {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em 3em;
}
.showcase-top > .btn-small {
	background-color: var(--primary-bg-color);
	padding: 0.5em 1em;
	border-radius: 2px;
}
.showcase-container {
	z-index: 2;
	text-align: center;
}

.showcase-content > h1 {
	font-size: 3.3rem;
	line-height: 3.5rem;
	width: 60%;
	display: inline-block;
	margin-bottom: 0.3em;
}
.showcase-content > h2 {
	font-size: 1.7rem;
	font-weight: 400;
	margin-bottom: 1em;
}
.showcase-content > p {
	font-size: 1.2rem;
	margin-bottom: 1em;
}
.get-started {
	width: 100%;
	height: 3.75rem;
}
.get-started .input-wrapper {
	position: relative;
	vertical-align: middle;
}
.get-started .input-wrapper .text-input {
	width: 45%;
	height: 100%;
	font-size: 1rem;
	padding: 0.5em 0.6em;
	color: #000;
	font-family: inherit;
	font-weight: 400;
}
.get-started .input-wrapper input:focus {
	outline: none;
}

.text-input::placeholder {
	/* Hide actual placeholders */
	color: transparent;
	visibility: hidden;
}

.input-label {
	color: var(--secondary-text-color);
	transition: transform 0.2s;
	position: absolute;
	top: 18%;
	left: 3%;
	transform-origin: top left;
	transform: scale(0.8) translateY(-25px);
}

.text-input:placeholder-shown:not(.text-input:focus) ~ .input-label {
	/* Make text big again for untouched fields */
	transform: unset;
}
.get-started button {
	font-family: inherit;
	background-color: var(--primary-bg-color);
	font-size: 1.5rem;
	color: var(--primary-text-color);
	padding: 0.5em;
	width: 20%;
	text-align: center;
	vertical-align: middle;
	border: none;
	border-radius: 0px 2px 2px 0px;
	height: 100%;
	margin-left: -0.25rem;
}
.chevron {
	vertical-align: middle;
	margin-bottom: 0.2rem;
	margin-left: -0.5rem;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 3em;
	border-bottom: 10px solid var(--border-color);
}
.card-text h3 {
	font-size: 3.2rem;
	display: inline-block;
}
.card-text p {
	font-size: 1.6rem;
	display: inline-block;
	margin-top: 1.2rem;
}

#card-0 .card-image {
	background: url('../images/tv.png') no-repeat center/contain;
	width: 45%;
	min-width: 40%;
	height: 25rem;
	position: relative;
}
#card-0 .card-text {
	width: 40%;
}

#card-0 .card-text p {
	width: 85%;
}
#card-0 .card-image video {
	position: absolute;
	top: 8%;
	left: 17.2%;
	width: 64%;
	min-width: 380px;
	height: 80%;
	z-index: -1;
}
#card-1 .card-image {
	background: url('../images/mobile.jpg') no-repeat center/contain;
	width: 100%;
	min-width: 40%;
	height: 25rem;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
#card-1 .card-text {
	width: 80%;
}
#card-1 .card-text h3,
#card-1 .card-text p {
	width: 90%;
}

.card-box {
	margin-bottom: 30px;
	width: 43%;
	min-width: 300px;
	height: 5.5rem;
	padding: 2.4em 0.5em;
	background-color: #000;
	border-radius: 10px;
	border: 2px solid var(--secondary-bg-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card-box img {
	width: 2.74rem;
	height: auto;
	vertical-align: middle;
}
.card-box p {
	display: inline-block;
	margin-left: 0.4rem;
	vertical-align: middle;
}
#card-2,
#card-3 {
	padding-top: 3rem;
}
#card-2 .card-image {
	background: url('../images/device-pile.png') no-repeat center/contain;
	width: 45%;
	min-width: 40%;
	height: 25rem;
	position: relative;
}
#card-2 .card-text {
	width: 40%;
}
#card-2 .card-image video {
	position: absolute;
	top: 0%;
	left: 21%;
	width: 56%;
	min-width: 50%;
	/* min-height: 100%; */
	/* min-width: 40%; */
	height: 80%;
	z-index: -1;
}
#card-3 .card-image {
	background: url('../images/kids.png') no-repeat center/contain;
	width: 45%;
	min-width: 40%;
	height: 25rem;
	position: relative;
}
#card-3 .card-text {
	width: 40%;
}

.list {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.list h4 {
	font-size: 3rem;
	padding: 3rem 0 4rem 0;
}

.title {
	background: var(--secondary-bg-color);
	padding: 0.7em 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.7rem;
	font-weight: 400;
}

.icon {
	width: 20px;
	position: relative;
}

.icon::before,
.icon::after {
	content: '';
	position: absolute;
	width: 1.25rem;
	height: 0.25rem;
	background-color: var(--primary-text-color);
	top: -1.5%;
}

.icon::after {
	transform: rotate(90deg);
	transition: 0.2s linear;
}
.item:target .icon::after {
	transform: rotateY(90deg);
}

.text {
	background: var(--secondary-bg-color);
	line-height: 2rem;
	margin: 0.3rem 0;
	font-size: 1.6rem;
	font-weight: 400;
	height: 0;
	opacity: 0;
}

.item:target .text {
	height: auto;
	opacity: 1;
	padding: 1.25em 1em;
	border-top: 2px solid #000;
	margin: 0.6rem 0;
}

.join-us {
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 1em;
	font-size: 1.2rem;
	font-weight: 500;
}

.get-started-end {
	text-align: center;
}

.get-started-end .input-wrapper .text-input {
	width: 60%;
	min-width: 300px;
}
.get-started-end button {
	width: 25%;
	min-width: 8em;
}

footer {
	width: 100%;
	margin-top: 6rem;
	padding: 5rem 0;
	border-top: 10px solid var(--border-color);
	color: var(--secondary-text-color);
}

.footer-container {
	width: 70%;
	margin: 0 auto;
}
.footer-nav {
	margin: 2rem 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer-links li {
	margin: 1rem 0;
}
.footer-links li a {
	font-size: 0.8rem;
	color: var(--secondary-text-color);
}
.footer-links li a:hover {
	text-decoration: underline;
}
@media screen and (max-width: 64em) {
	#card-0 .card-image video {
		top: 8%;
		left: 13%;
	}
}
@media screen and (max-width: 48em) {
	.showcase {
		height: 80vh;
	}
	.showcase-content > h1 {
		width: 80%;
	}
	.showcase-content > p {
		display: inline-block;
		width: 50%;
	}
	.get-started .input-wrapper .text-input {
		width: 70%;
		margin-bottom: 1rem;
	}
	.get-started button {
		display: block;
		margin: 0 auto;
		width: 25%;
	}
	.card {
		flex-direction: column;
	}

	.card-text h3 {
		font-size: 2.7rem;
	}
	.card-text p {
		font-size: 1.2rem;
	}
	#card-0 .card-image {
		width: 100%;
		height: 25rem;
		position: relative;
	}
	#card-0 .card-text {
		width: 100%;
		padding-top: 4em;
		text-align: center;
	}

	#card-0 .card-text p {
		width: 85%;
	}
	#card-0 .card-image video {
		top: 8%;
		left: 24%;
		width: 58%;
	}
	#card-1 .card-image {
		width: 100%;
	}
	#card-1 .card-text {
		width: 100%;
		padding-top: 4em;
		text-align: center;
		order: -1;
	}
	#card-1 .card-text h3,
	#card-1 .card-text p {
		width: 85%;
	}
	#card-2 .card-image {
		width: 100%;
	}
	#card-2 .card-image video {
		top: 0%;
		left: 22%;
		transform: scale(0.8);
	}
	#card-2 .card-text {
		width: 100%;
		padding-top: 4em;
		text-align: center;
	}
	#card-2 .card-text p {
		width: 84%;
	}
	#card-3 .card-image {
		width: 100%;
	}
	#card-3 .card-text {
		width: 100%;
		padding-top: 4em;
		text-align: center;
		order: -1;
	}
	#card-3 .card-text p {
		width: 83%;
	}
	.list {
		width: 80%;
	}

	.list h4 {
		font-size: 2.7rem;
		width: 100%;
		text-align: center;
	}

	.text {
		font-size: 1.5rem;
	}
	.get-started-end .input-wrapper .text-input {
		width: 80%;
	}
	.get-started-end button {
		width: 23%;
	}
	footer {
		margin-top: 10rem;
	}
	.footer-container {
		width: 80%;
	}
	.footer-links li a {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 36em) {
	.showcase-top img {
		width: 20%;
	}
	.showcase-top {
		padding: 1.5em 2em;
	}

	.showcase-content > h1 {
		font-size: 1.8rem;
		line-height: 2rem;
		width: 94%;
	}
	.showcase-content > h2 {
		display: inline-block;
		font-size: 1.2rem;
		width: 100%;
	}
	.showcase-content > p {
		display: inline-block;
		font-size: 1.2rem;
		width: 80%;
	}
	.get-started .input-wrapper .text-input {
		width: 90%;
		margin-bottom: 1rem;
	}
	.get-started button {
		display: block;
		margin: 0 auto;
		width: 25%;
		font-size: 1rem;
		padding: 0 0.2em;
		height: 70%;
	}

	.card-text h3 {
		font-size: 2rem;
	}

	#card-0 .card-image {
		width: 90%;
	}

	#card-0 .card-image video {
		top: 8%;
		left: 12%;
		width: 58%;
	}

	#card-2 .card-image video {
		top: -20%;
		left: 0%;
		transform: scale(0.6);
		width: 100%;
		height: 100%;
	}

	#card-3 .card-text p {
		width: 96%;
	}
	.list {
		width: 100%;
	}

	.list h4 {
		font-size: 2rem;
		width: 100%;
		text-align: center;
	}
	.title {
		font-size: 1.3rem;
	}

	.text {
		font-size: 1.2rem;
	}
	.join-us {
		font-size: 1.1rem;
	}
	.get-started-end .input-wrapper .text-input {
		width: 90%;
	}
	.get-started-end button {
		width: 23%;
	}
	footer {
		margin-top: 10rem;
	}
	.footer-container {
		width: 90%;
	}
	.footer-links li a {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 30em) {
	.showcase {
		height: 55vh;
	}

	.showcase-content > h1 {
		margin-bottom: 1.3rem;
	}

	.showcase-content > p {
		line-height: 1.6rem;
	}
	.get-started .input-wrapper .text-input {
		width: 93%;
		height: 95%;
	}
	.get-started button {
		display: block;
		margin: 0 auto;
		width: 30%;
		font-size: 1rem;
		padding: 0 0.2em;
		height: 70%;
	}
	.chevron {
		width: 25%;
		height: 25;
	}
	.card-text h3 {
		font-size: 1.7rem;
	}

	#card-0 .card-image {
		width: 92%;
	}

	#card-0 .card-image video {
		top: 8%;
		left: -2%;
		overflow: hidden;
		width: 100%;
		transform: scale(0.75);
	}
	#card-1 .card-image {
		width: 100%;
	}
	.card-box {
		width: 60%;
		height: 3rem;
		min-width: unset;
		margin-bottom: 70px;
	}

	#card-2 .card-image video {
		top: -13%;
		left: 0%;
		transform: scale(0.6);
		width: 100%;
		height: 100%;
	}

	#card-3 .card-text p {
		width: 96%;
	}
	.list {
		width: 100%;
	}
	.footer-nav {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 24em) {
	.showcase {
		height: 65vh;
	}
	.showcase-content > h1 {
		margin-top: 1.5rem;
		margin-bottom: 2rem;
	}
	.showcase-content > p {
		width: 90%;
	}
	#card-1 .card-text h3 {
		width: 91%;
	}
}
